body {
  font-family: ‘Work Sans’;
  margin: 8px;
  font-size: 18px;
}

header {
  background-color: #900f90;
  color: white;
  font-size: 48px;
  text-align: center;
}

input {
  font-size: 18px;
}

td.addtodb {
	background-color: #c01000;
	border-radius: 5px;
	text-align: center;
	color: white;
	cursor: pointer;
}

tr.sort {
	text-align: left;
	color: #f0f0f0;
	background-color: green;
}

tr.entry {
	color: #000000;
	margin 1px;
}

tr.pagination {
	text-align: center;
	font-weight: bold;
	color: #f0f0f0;
	background-color: #202090;
}

th.sortname, th.sortbirth, th.sortemail, th.sortchildren {
	cursor: pointer;
}

td.pagfirst, td.pagprev, td.pagnext, td.paglast {
	cursor: pointer;
}